<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150]) %>
  <% end %>
</p>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>

<div>
  <a href="<%= followings_user_path(@user) %>"><%= @user.followings.count %> <%= t('views.common.followings') %></a> |
  <a href="<%= followers_user_path(@user) %>"><%= @user.followers.count %> <%= t('views.common.followers') %></a>
</div>

<% unless current_user == @user %>
  <div id="follow_form">
  <% if current_user.active_followings.exists?(followed_id: @user.id) %>
    <%= button_to t('views.common.unfollow'), following_path(current_user.active_followings.find_by(followed_id: @user.id)), method: :delete %>
  <% else %>
    <%= button_to t('views.common.follow'), followings_path, method: :post, params: { followed_id: @user.id } %>
  <% end %>
  </div>
<% end %>
