<div class="comments_list">
  <% if @comments.empty? %>
    <p><%= t('users.comments.nothing') %></p>
  <% else %>
    <ul>
    <% @comments.each do |comment| %>
      <li>
        <p class="comment_writer"><%= comment.user.name_or_email %></p>
        <p><%= comment.content %></p>
        <span class="comment_created_at"><%= l(comment.created_at, format: :long) %></span>
        <% if comment.user == current_user %>
          <%= link_to t('views.common.edit'), polymorphic_url([commentable, comment], action: :edit) %>
          <%= link_to t('views.common.destroy'), polymorphic_url([commentable, comment]), method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
