<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('views.common.edit'), edit_book_path(@book) %> |
<%= link_to t('views.common.back'), books_path %>

<h2><%= @comments.model_name.human %></h2>

<div class="comments_list">
  <% if @comments.empty? %>
    <p><%= t('users.comments.nothing') %></p>
  <% else %>
    <ul>
    <% @comments.each do |comment| %>
      <li>
        <p class="comment_writer"><%= comment.user.attribute_present?(:name) ? comment.user.name : comment.user.email %></p>
        <p><%= comment.content %></p>
        <span class="comment_created_at"><%= l(comment.created_at, format: :long)%></span>
        <% if comment.user == current_user %>
          <%= link_to t('views.common.edit'), edit_book_comment_path(@book, comment) %>
          <%= link_to t('views.common.destroy'), book_comment_path(@book, comment), method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>

<%= render partial: 'shared/comment_form', locals: { comment: @comment, commentable: @book, button_text: t('users.comments.create') } %>
